* {
    font-family: Poppins;
    box-sizing: border-box;
}
/* Main content color */
body {
    background-color:#F05D5E;

}
/* Navbar */
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
/* Highscore and timer  */
#highscore {
    font-size: 1.5rem;
    font-weight: bold;
}

#timer {
    color: #F9DEC9;
    font-size: 5rem;
    margin-right: 20px;
}
/* Center content and text weight. */
.mainContainer h1, p{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    
}
.mainContainer p {
    font-weight: bold;
}

/* Quiz questions */
#codingquiz {
    color: #F9DEC9;
    font-size: 10rem;
}

#codingquiz, #rules, #start {
    text-align: center;
}

.containerbtn {
    text-align: center;
}

.Questions-container {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
/* All button styles */
button {
    background-color: #0F7173;
    color: #F9DEC9;
    font-size: 30px;
    width: 150px;
    font-style: bold;
    border-radius: 30px;
    list-style: none;
    margin-top: 30px;

}

button:hover {
    background-color: #3e8e41
}

/* Final page styles */
#final {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#final input {
    height: 50px;
    width: 150px;
    font-weight: bold;
}
